@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body {
  font-family: 'Lato', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #314152;
  padding: 40px;
}
.container input {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 2px;
}
.container .errorMessages {
  color: #fff;
  background-color: red;
  padding: 3px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.container button {
  float: right;
  padding: 5px;
  outline: none;
  cursor: pointer;
  color: #314152;
  background-color: #fff;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}
.container select {
  color: #314152;
  background-color: #fff;
  outline: none;
  padding: 5px;
  margin-top: 15px;
  border: none;
}
.container li {
  clear: both;
  color: #314152;
  border: 2px solid #fff;
  text-align: center;
  width: inherit;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FDCE4B;
  list-style-type: none;
}