@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body {
  font-family: 'Lato', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

form {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #314152;
  padding: 40px;
}
form input {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 2px;
}
form button {
  float: right;
  margin-top: 15px;
  padding: 5px;
  outline: none;
  cursor: pointer;
  color: #314152;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}
form select {
  color: #314152;
  background-color: #fff;
  outline: none;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 5px;
  border: none;
}
form li {
  clear: both;
  color: #314152;
  border: 2px solid #fff;
  width: inherit;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FDCE4B;
  list-style-type: none;
}
